<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		 


			<div class="header">
				<div class="container">Header</div><!-- close container -->
			</div><!-- close header -->
			<div class="nav">
				<div class="container">Navigation</div><!-- close container -->
			</div><!-- close nav -->
			<div class="slider">
				<div class="container">Slider</div><!-- close container -->
			</div><!-- close slider -->
			<div class="content">
				<div class="container">Content</div><!-- close container -->
			</div><!-- close content -->
			<div class="footer">
				<div class="container">Footer</div><!-- close container -->
			</div><!-- close footer -->
			




		

	</body>
</html>